*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:#222;
    background:radial-gradient(
        circle at top,
        #21186d 0%,
        #0f0a37 45%,
        #08051f 100%
    );
    min-height:100vh;
}

header{
    background: black;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid black;
}

.logo h1{
    font-size:32px;
    color: whitesmoke;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    text-decoration:none;
    font-weight:bold;
    color: whitesmoke;
}

.headerIcons{
    display:flex;
    gap:20px;
    font-size:24px;
}

.headerIcons a{
    text-decoration:none;
    color:#222;
    font-size:24px;
}

.primero{
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding:50px;
    border-bottom:1px solid #d8d8d8;
}

.primeroTexto{
    width:45%;
    color: whitesmoke;
}

.primeroTexto h2{
    font-size:60px;
    margin:20px 0;
}

.primeroTexto ul{
    list-style:none;
    margin:25px 0;
}

.primeroTexto li{
    margin-bottom:12px;
}

.primeroTexto button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#222;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.primeroImg{
    width: 50%;
    height: 500px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:10px;
}

.btnPrincipal{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:260px;
    height:55px;
    background:#222;
    color:white;
    text-decoration:none;
    font-weight:700;
    font-size:20px;
    border-radius:40px;
    transition:0.3s;
}

.seccion{
    padding:25px 50px;
}

.seccionTitulo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    color: whitesmoke;
}

.seccionTitulo a{
    text-decoration:none;
    color:#222;
    font-weight:bold;
    color: whitesmoke;
}

.juegos{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.juegosC{
    background:white;
    border:1px solid #d4d4d4;
    transition:all 0.3s ease;
    cursor:pointer;
}

.juegosC:hover{
    transform:translateY(-8px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    border-color:#999;
}

.juegosImg{
    position:relative;
    height:180px;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
}

.verDetalles{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background:#111;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:25px;
    font-size:15px;
    cursor:pointer;
    display:none;
}

.verDetalles:hover{
    background:#444;
}

.infoJuego{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,.75);
    color:white;
    padding:10px;
    display:none;
}

.infoJuego h4{
    margin-bottom:5px;
    font-size:17px;
}

.infoJuego p{
    font-size:13px;
    margin:3px 0;
}

.fortnite{
    background-image:url("img/fortnite.jfif");
}

.rocket{
    background-image:url("img/rocket.jfif");
    background-position:center 10%;
}

.gta5{
    background-image:url("img/gta5.jfif");
    background-position:center 40%;
}

.rdr2{
    background-image:url("img/rdr2.jfif");
    background-position:center 5%;
}

.juegosC h4,
.juegosC p{
    padding:8px 15px;
}

.biblioteca{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.bibliotecaC{
    background:white;
    border:1px solid #d4d4d4;
    padding:15px;
    display:flex;
    align-items:center;
    gap:20px;
    transition:all 0.3s ease;
    cursor:pointer;
    position:relative;
}

.bibliotecaC:hover{
    transform:translateY(-8px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    border-color:#999;
}

.bibliotecaImg{
    width:75px;
    height:75px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    border-radius:8px;
}

.hitman{
    background-image:url("img/hitman.jpg");
}

.tarkov{
    background-image:url("img/tarkov.png");
}

.mgsv{
    background-image:url("img/metal.jfif");
}

.favorito{
    position:absolute;
    top:15px;
    right:15px;
    border:none;
    background:none;
    font-size:28px;
    cursor:pointer;
    transition:0.3s;
}

.favorito:hover{
    transform:scale(1.2);
}

.comunidad{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.comunidadC{
    background:white;
    border:1px solid #d4d4d4;
    padding:20px;
    transition:all 0.3s ease;
    cursor:pointer;
}

.comunidadC:hover{
    transform:translateY(-8px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    border-color:#999;
}

.comunidadC h4{
    margin-bottom:10px;
}

.soporte{
    margin:30px 50px;
    padding:25px 40px;
    background:white;
    border:1px solid #d4d4d4;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.soporte button{
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#222;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

#modalJuego{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
    z-index:999;
}

.contenidoModal{
    width:650px;
    background:white;
    margin:8% auto;
    padding:35px;
    border-radius:12px;
    position:relative;
    font-family:'Poppins', sans-serif;
}

.modalInfo{
    display:flex;
    gap:25px;
    align-items:flex-start;
}

.modalInfo h2{
    font-size:42px;
    margin-bottom:12px;
    color:#222;
}

.modalInfo p{
    margin-bottom:10px;
    line-height:1.6;
    font-size:18px;
    color:#444;
}

.modalInfo strong{
    color:#111;
}

#cerrarModal{
    position:absolute;
    top:15px;
    right:20px;
    cursor:pointer;
    font-size:24px;
    font-weight:bold;
}

#imagenJuego{
    width:200px;
    height:280px;
    object-fit:cover;
    border-radius:10px;
}

#descripcionJuego{
    margin-bottom:18px;
}

#mensajeFavorito{
    position:fixed;
    bottom:30px;
    right:30px;
    background:#222;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    display:none;
    font-family:Poppins,sans-serif;
}

footer{
    background: black;
    margin-top:40px;
    padding:40px 50px 20px;
}

.piePaginaColumna{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:40px;
}

.piePaginaColumna h3{
    margin-bottom:15px;
    color: whitesmoke;
}

.piePaginaColumna p{
    margin-bottom:10px;
    color: whitesmoke;
}

.piePaginaItems{
    text-decoration: none;
    color: whitesmoke;
}

.piePagina{
    margin-top:30px;
    text-align:center;
    border-top:1px solid #ccc;
    padding-top:15px;
    color: whitesmoke;
}